a {
    color: white;
}

code {
    color: #E01A76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

body {
    background-color: #1A1A1D;
    color: white;
}

.button {
    margin: 10px;
    border-radius: 5px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    padding: 5px 10px;
    transition-duration: 200ms;
}

    .button:hover {
        background-color: rgba(255, 255, 255, 0.4);
    }

.button-red {
    margin: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    background-color: transparent;
    border: 1px solid red;
}

    .button-red:hover {
        background-color: rgba(255, 0, 0, 0.31);
    }

.button-confirm {
    margin: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    background-color: transparent;
    border: 1px solid rgba(54, 232, 71, 1);
}

    .button-confirm:hover {
        background-color: rgba(54, 232, 71, 0.31);
    }


.table{
    color:white;
}

.coinrow{
    text-align:center
}